{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/creation.css' %}">
</head>
<body>
<header>
	<img src="{% static 'img/logo.png' %}" alt="Image OnePiece" height="150 px" width="150 px">
</header>
<main>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button">
            <button type="submit" class="save btn">Créer le role</button>
        </div>
    </form>
    <div>
        <a href="profils" class="button_profiles">Retour aux profils</a>
    </div>
    </main>
<footer>

    </footer>
</body>
</html>