{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/details_profil.css' %}">
</head>
<body>
<header>
	<img src="{% static 'img/logo.png' %}" alt="Image OnePiece" height="150 px" width="150 px">
    </header>
<main>
<div class="all">
    <h1>Voici les détails du role de {{Nom}} :</h1>
    <ul>
        <li>

            <p>Race : {{Race}}</p>

        </li>
        <li>

            <p>Classe : {{Classe}}</p>

        </li>
        <li>

            <p>Niveau : {{Niveau}}</p>

        </li>
        <li>

            <p>Equipement : {{Equipement}}</p>

        </li>
        <li>

            <p>Partie : {{Partie}}</p>

            </div>
        </li>
    </ul>
    <a href="../" class="button_profiles">Retour aux profils</a>
    
    </main>
    <footer>

    </footer>
</body>
</html>